<script>
    // see https://meowni.ca/posts/web-fonts/
    document.body.onload = function() {
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.href="{{ "/assets/webfonts.css" | relative_url }}"
        document.head.appendChild(link);
    }
</script>

<!--
{% if page.usefootnotes %}
    <script src="{{ "/assets/littlefoot/3.2.4/littlefoot.js" | relative_url }}"></script>
    <script type="text/javascript">
        littlefoot.default({
            buttonTemplate: `<button
                aria-controls="fncontent:<% id %>"
                aria-expanded="false"
                aria-label="Footnote <% number %>"
                class="littlefoot-footnote__button"
                id="<% reference %>"
                rel="footnote"
                title="See Footnote <% number %>"
                />
                    <% number %>
                </button>`,
            activateCallback: function(popover, button) {
                if (typeof katex !== "undefined") {
                    let content = popover.querySelectorAll('.littlefoot-footnote__content')[0];
                    if (content) {
                        content.querySelectorAll("script[type='math/tex']").forEach(e => {
                            let tex = e.innerText;
                            let html = katex.renderToString(tex, {displayMode: false});
                            e.outerHTML = html;
                        });
                        document.querySelectorAll("script[type='math/tex; mode=display']").forEach(e => {
                            let tex = e.innerText;
                            let html = katex.renderToString(tex, {displayMode: true});
                            e.outerHTML = html;
                        });
                    }
                }
            }
        });
    </script>
{% endif %}
-->

{% if page.usemath %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll("script[type='math/tex']").forEach(e => {
            let tex = e.innerText;
            let html = katex.renderToString(tex, {displayMode: false});
            e.outerHTML = html;
        });
        document.querySelectorAll("script[type='math/tex; mode=display']").forEach(e => {
            let tex = e.innerText;
            let html = katex.renderToString(tex, {displayMode: true});
            e.outerHTML = html;
        });
    });
</script>
{% endif %}
