<script>
    // see https://meowni.ca/posts/web-fonts/
    document.body.onload = function() {
        var link = document.createElement("link");
        link.rel = "stylesheet";
        link.href="{{ "/assets/webfonts.css" | relative_url }}"
        document.head.appendChild(link);
    }
</script>

{% if page.usefootnotes %}
    <script src="{{ "/assets/littlefoot/3.2.4/littlefoot.js" | relative_url }}"></script>
    <script type="text/javascript">
        //littlefoot.default();
        littlefoot.default({
            buttonTemplate: `<button
                aria-controls="fncontent:<% id %>"
                aria-expanded="false"
                aria-label="Footnote <% number %>"
                class="littlefoot-footnote__button"
                id="<% reference %>"
                rel="footnote"
                title="See Footnote <% number %>"
                />
                    <% number %>
                </button>`,
            activateCallback: function(popover, button) {
                if (MathJax) {
                    var content = popover.querySelectorAll('.bigfoot-footnote__content')[0];
                    MathJax.Hub.Queue(['Typeset', MathJax.Hub, content]);
                }
            }
        });
    </script>
{% endif %}
