<svg class="bgtemp" xmlns="http://www.w3.org/2000/svg" style="stroke: rgba(0,0,0,0.05); stroke-width: 0.5px; fill: none;"></svg>
<script>
    var rand = Math.random;

    let X = 35;
    let Y = 35;
    let cells = [];

    for (let x = 0; x < X; x++) {
        let row = [];
        for (let y = 0; y < Y; y++) {
            row.push(rand() > 0.5);
        }
        cells.push(row);
    }

    for (let i = 0; i < 10; i++) {
        let cells2 = [];
        for (let x = 0; x < cells.length; x++) {
            let row2 = [];
            for (let y = 0; y < cells[x].length; y++) {
                let cell = cells[x][y];

                let left = (x == 0) ? (cells.length - 1) : (x - 1);
                let right = (x == cells.length - 1) ? 0 : (x + 1);
                let above = (y == 0) ? (cells[x].length - 1) : (y - 1);
                let below = (y == cells[x].length - 1) ? 0 : (y + 1);

                let aboveNeighbor = cells[x][above];  // clockwise starting at 12
                let aboveRightNeighbor = cells[right][above];
                let rightNeighbor = cells[right][y];
                let belowRightNeighbor = cells[right][below];
                let belowNeighbor = cells[x][below];
                let belowLeftNeighbor = cells[left][below];
                let leftNeighbor = cells[left][y];
                let aboveLeftNeighbor = cells[left][above];

                let neighbors = aboveNeighbor + aboveRightNeighbor + rightNeighbor + belowRightNeighbor + belowNeighbor + belowLeftNeighbor + leftNeighbor + aboveLeftNeighbor;

                let cell2;
                if (cell && (neighbors == 2 || neighbors == 3)) {
                    cell2 = true;
                } else if (!cell && neighbors == 3) {
                    cell2 = true;
                } else {
                    cell2 = false;
                }

                row2.push(cell2);
            }
            cells2.push(row2);
        }
        cells = cells2;
    }

    var g = code => {
        let elem = document.createElementNS("http://www.w3.org/2000/svg", "g");
        elem.innerHTML = code;
        return elem;
    };

    var cross = (x,y) => {
        return `
            <path d="M ${x},${y}    L ${x+10},${y+10}"></path>
            <path d="M ${x},${y+10} L ${x+10},${y}   "></path>
        `
    };
    var circle = (x,y) => {
        return `<circle cx="${x+5}" cy="${y+5}" r="5"/>`
    }
    var triangle = (x,y) => {
        return `
            <path d="M ${x},${y} L ${x+10},${y} L ${x+5},${y+10} Z"></path>
        `
    }
    var plus = (x,y) => {
        return `
            <path d="M ${x+5},${y} L ${x+5},${y+10}"></path>
            <path d="M ${x},${y+5} L ${x+10},${y+5}"></path>
        `
    }
    var lines = (x,y) => {
        return `
            <path d="M ${x},${y+5}    L ${x+5},${y}"></path>
            <path d="M ${x+5},${y+10} L ${x+10},${y+5}"></path>
        `
    }
    var zigzag = (x,y) => {
        return `
            <path d="M ${x},${y+5} L ${x+2.5},${y} L ${x+5},${y+5} L ${x+7.5},${y+10} L ${x+10},${y+5}"></path>
        `
    }
    var shapes = [cross, circle, triangle, plus, lines, zigzag];

    var cell = (x,y) => {
        var acc = "";
        for (let n = 0; rand() / n > 0.2; n++) {
            let i = Math.floor(rand()*shapes.length);
            acc += shapes[i](-1+x+n,-1+y+n);
        }
        return acc;
    };

    var svg = document.querySelector("svg.bgtemp");
    svg.setAttribute("viewBox", `0 0 ${X*10} ${Y*10}`);
    for (let x = 0; x < X; x++) {
        for (let y = 0; y < Y; y++) {
            if (cells[x][y]) {
                svg.appendChild(g(cell(x*10,y*10)));
            }
        }
    }

    document.querySelector("body").style.backgroundImage = `url('data:image/svg+xml;base64,${btoa(svg.outerHTML)}')`;
    document.querySelector("body").style.backgroundSize = X * 16 + "px";
</script>
<header>
    <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
    <nav>
        <ul>
            <!--<li><a href="{{ "/about.html" | relative_url }}">About</a></li>
            <li><a href="{{ "/series.html" | relative_url }}">Series</a></li>
            <li><a href="{{ "/archive.html" | relative_url }}">Archive</a></li>-->
            <li><a href="{{ "/about.html" | relative_url }}">?</a></li>
            <li><a href="{{ "/feed.xml" | relative_url }}">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="stroke: none;">
                    <g transform="scale(0.8) translate(2.4, 2.4)">
                        <path d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415c1.814 0 3.293 1.479 3.293 3.295 0 1.813-1.485 3.29-3.301 3.29C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"/>
                    </g>
                </svg>
            </a></li>
            <li><a href="TODO webring">
                <svg viewBox="0 0 235 235" xmlns="http://www.w3.org/2000/svg" style="fill: none; stroke-width: 28px; stroke-linecap: square;">
                <!--<path d="M0,0 235,0 235,235 0,235 0,0" style="stroke: red; stroke-width: 1px"></path>-->
                    <g transform="translate(121,140),rotate(120,0,0)"><path d="M0,-60 a60,60 0 1,0 0,120 l100,0"></path></g>
                    <g transform="translate(121,140),rotate(240,0,0)"><path d="M0,-60 a60,60 0 1,0 0,120 l100,0"></path></g>
                    <g transform="translate(121,140),rotate(0,0,0)"><path d="M0,-60 a60,60 0 1,0 0,120 l100,0"></path></g>
                </svg>
            </a></li>
        </ul>
    </nav>
</header>
