<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
    <link rel="shortcut icon" href="{{ "/assets/favicon.png" | relative_url }}">
    <link rel="apple-touch-icon" href="{{ "/assets/favicon.png" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}?{{ site.time | date: '%y%m%d' }}">
    <!-- see footer.html for webfont loading -->
    {% if page.usemath %}
        <link rel="stylesheet" href="{{ "/assets/katex/0.11.1/katex.min.css" | relative_url }}">
        <script defer src="{{ "/assets/katex/0.11.1/katex.min.js" | relative_url }}"></script>
    {% endif %}
    <!--
    {% if page.usefootnotes %}
        <link rel="stylesheet" href="{{ "/assets/littlefoot/3.2.4/littlefoot.css" | relative_url }}">
    {% endif %}
    -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <link rel="alternate" title="{{ site.title | escape }}" type="application/json" href="{{ "/feed.json" | relative_url }}">
</head>
