/* variables (could totally use sass variables, but why bother) */
:root {
    --color-text: #222;
    --color-meta: #555;
    --color-accent: #ccc;
    --color-link: navy;
    --color-link-hover: royalblue;

    --color-page-background: #f4f4f4;
    --color-main-background: white;
    --color-code-background: #e8e8e8;

    --color-logo-text: var(--color-accent);
    --color-logo-text-shine: white;
    --color-logo-text-sides: #b8b8b8;
    --color-logo-background: #eee;
    --color-logo-background-sides: #ddd;

    --font-text: 'IBM Plex Serif', serif;
    --font-meta: 'Work Sans', sans-serif;
    --font-code: 'Iosevka', monospace;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: normal;
    list-style-type: none;
}

/* outermost elements */
html {
    font-size: 18px;
    height: 100%;
}
body {
    font-family: var(--font-text);
    color: var(--color-text);
    line-height: 1.5;
    background: var(--color-page-background);
    height: 100%;
}
main {
    max-width: 40em;
    padding: 1em 4em 1px;
    margin: auto;
    background-color: var(--color-main-background);
    min-height: 100%;
}

/* page header */
main > header {
    width: calc(100% + 6rem);
    margin-left: -3rem;
}
main > header h6 {
    font-family: var(--font-meta);
    font-size: 5em;
    width: 5em;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 0.75em;
    color: var(--color-logo-text);
    letter-spacing: -0.02em;
    text-shadow: 1px 0 0 var(--color-logo-text-shine), -2px -1px 0 var(--color-logo-text-sides), 0.05em 0.08em var(--color-logo-background);
    transform: perspective(5em) rotateY(20deg);
    transform-origin: top left;
    display: inline-block;
    padding: 0.2em;
    background-color: var(--color-logo-background);
    box-shadow: -1px 0 0 var(--color-logo-background-sides);
    margin-left: 1px;
}
main > header h6:hover {
    text-shadow: 1px 0 0 var(--color-logo-text-shine), -2px -1px 0 var(--color-logo-text-sides), 0.05em 0.16em var(--color-logo-background);
    animation: hue 10s linear infinite;
}
@keyframes hue {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

/* articles */
article, section {
    margin: 3em 0 4em;
}

/* article headers */
article header, section header {
    margin-bottom: 2em;
}
article header aside, section header aside {
    text-transform: uppercase;
    color: var(--color-meta);
    font-family: var(--font-meta);
    font-size: 0.64em;
    letter-spacing: 0.05em;
}
aside abbr {
    text-decoration: none;
}

/* headings */
h1, h2, h3, h4, .archive span {
    font-family: var(--font-meta);
}
h1 {
    font-size: 1.5rem;
    line-height: 1.3;
}
h2, .archive span {
    font-size: 1.2rem;
}
h1, h2, h3 {
    margin: 2rem 0 1rem;
}
h3 {
    color: var(--color-meta);
    font-size: 0.8em;
    text-transform: uppercase;
}

/* lists of posts */
.postlist {
    margin-top: 2rem;
}
.archive li {
    margin: 1rem 0;
    list-style-type: none;
}
.archive li:before {
    display: none;
}
.archive span {
    color: var(--color-meta);
    display: inline-block;
    width: 4.5em;
    vertical-align: top;
}
.archive h2 {
    display: inline-block;
    width: calc(100% - 4.5em);
    margin: 0;
}

/* intra-article elements */
p {
    margin: 1em 0;
}
strong {
    font-weight: bold;
}
hr {
    border: 0;
    height: 1px;
    width: 50%;
    margin: 2.5em 25%;
    background-color: var(--color-accent);
}
blockquote {
    border-left: 1px solid var(--color-accent);
    padding-left: 1em;
}
.center {
    text-align: center;
}

/* code listings and <kbd> */
code, kbd {
    font-family: var(--font-code);
}
code:not(pre code), kbd {
    background-color: var(--color-code-background);
    padding: 0.05em 0.1em;
    border-radius: 0.1em;
}
pre {
    overflow-x: scroll;
    background-color: var(--color-code-background);
    padding: 1rem;
    font-size: 0.8em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
code:hover, pre:hover {
    text-rendering: optimizeSpeed;
    font-variant-ligatures: none;
}
kbd {
    border: 1px solid var(--color-accent);
    border-bottom-width: 0.1em;
    margin-left: 0.05em;
}

/* wide display math */
.katex-display {
    overflow-x: scroll;
    overflow-y: hidden;  /* fix for webkit always displaying a vertical scroll bar when setting overflow-x: scroll; */
    padding-top: 0.1em;  /* fix for the top of fractions being slightly cut off due to the overflow setting */
}

/* lists */
article ul > li, section ul > li {
    list-style-type: none;
    text-indent: 0;
    margin: 1rem 0 1rem 1.5em;
}
article ul > li:before, section ul > li:before {
    content: "—";
    text-indent: -1.5em;
    position: absolute;
}
article ol, section ol {
    counter-reset: numberedlist;  /* manual counter to circumvent different margin/padding behavior among browsers when using list-style-type: decimal;, needs to be overridden for footnotes and the index page */
}
article ol > li, section ol > li {
    list-style-type: none;
    counter-increment: numberedlist;
    margin: 1rem 0 1rem 1.5em;  /* this isn't enough margin for two digits, but i don't think that'll be relevant */
}
article ol > li:before, section ol > li:before {
    content: counter(numberedlist) ".";
    text-indent: -1.5em;
    position: absolute;
}
*:not(ol li) {
    counter-reset: numberedlist;  /* workaround for a bug (?) in firefox where the footnote numbering, despite not using the counter, would start at the number of previous <li>s (no matter whethre in ul or ol) in the document. in my mental model, this workaround should actually break ordered lists, but it doesn't – seems very fragile, anyway! */
}

/* wider-than-normal elements and ones that can carry captions */
img {
    max-width: 100%;
}
.wide img {
    max-width: none;
    width: calc(100% + 8rem);
    margin-left: -4rem;
}
.double img {
    max-width: none;
    width: calc(50% + 4rem - 0.2rem);
    margin-left: -4rem;
}
.double img:nth-child(2n),
.double a:nth-child(2n) img {
    margin-left: 0.4rem;  /* roughly matches line-height left over below images, enabling 2x2 (or 2xN) images in .double */
    margin-right: -4rem;
}
.left img {
    max-width: none;
    width: calc(66% + 4rem);
    margin-left: -4rem;
}
.right img {
    max-width: none;
    width: calc(66% + 4rem);
    margin-left: 34%;
}
pre {
    max-width: none;
    width: calc(100% + 12rem);
    margin-left: -6rem;
}
blockquote pre, li pre {
    width: 100%;
    margin-left: 0;
}
p.caption {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.8rem;
    color: var(--color-meta);
    margin-top: -1rem;
}
div + p.caption {  /* for code captions */
    margin-top: -0.6rem;
}

/* links */
a {
    color: var(--color-link);
    font-weight: inherit;
}
a:hover {
    color: var(--color-link-hover);
}
header a, .archive a {
    color: inherit;
    text-decoration: none;
    font-weight: inherit;
}
header a:hover, .archive a:hover {
    color: var(--color-link-hover);
}

/* footnotes */
sup[id^="fnref:"] {
    line-height: 0;
}
a.footnote, a.reversefootnote {
    font-family: var(--font-meta);
    font-weight: 400;
    text-decoration: none;
}
.footnotes {
    font-size: 0.8em;
    margin-top: 4rem;
}
.footnotes ol > li {
    list-style-type: decimal;
    font-family: var(--font-meta);
    list-style-position: inside;
    margin-left: 0;
}
.footnotes ol > li:before {
    display: none;
}
.footnotes ol > li p:first-child {
    display: inline;  /* fix for chrome and firefox not merging list number into footnote text when list-style-position: inside; is set*/
}

/* background svg */
.bgtemp {
    display: none;
}

/* remove background (plus related changes to wide elements) on narrow screens */
@media screen and (max-width: calc(48 * 18px)) {  /* calc( * 18px) cause rem doesn't work here */
    body {
        background: none !important;
    }
    main {
        max-width: 34em;
        padding: 1em 1em 1px;
    }
    main > header, pre {
        width: calc(100vw - 2em);
        margin-left: calc(-0.5 * (100vw - 100%) + 1em);
    }
    .wide img {
        width: 100vw;
        margin-left: calc(-0.5 * (100vw - 100%));
    }
    .double img {
        width: calc(50vw - 0.2rem);
        margin-left: calc(-0.5 * (100vw - 100%));
    }
    .double img:nth-child(2n),
    .double a:nth-child(2n) img {
        margin-right: calc(-0.5 * (100vw - 100%));
    }
    .left img {
        width: 66vw;
        margin-left: calc(-0.5 * (100vw - 100%));
    }
    .right img {
        width: 66vw;
        margin-left: calc(-0.5 * (100vw - 100%) + 34vw);
    }
}

/* make logo smaller on tiny screens */
@media screen and (max-width: calc(34 * 18px)) {  /* calc( * 18px) cause rem doesn't work here */
    article, section {
        margin: 2em 0;
    }
    main > header h6 {
        font-size: 3.5em;
    }
    .archive span, .archive h2 {
        width: 100%;
    }
    .wide img, pre {
        width: calc(100% + 2rem);
        margin-left: -1rem;
    }
    /* doesn't seem like rules for .double is needed here, at least in my testing (then why is one required for .wide?) */
}

/* increase base font size on large screens */
@media screen and (min-width: 1280px) {
    html {
        font-size: 20px;
    }
}

/* generate prettier pdfs */
@media print {
    body {
        background: none !important;
    }
    main {
        max-width: 34em;
        padding: 1em 1em 1px;
    }
    main > header, pre, .wide img {
        width: 100%;
        margin-left: 0;
    }
    main > header, code, pre {
        -webkit-print-color-adjust: exact;  /* Chrome/Safari/Edge/Opera */
                      color-adjust: exact;  /* Firefox */
    }
}
