@font-face {
  font-family: 'Work Sans';
  font-weight: 400;
  font-style: normal;
  src: url('webfonts/work-sans/WorkSans-Regular.woff2') format('woff2'),
       url('webfonts/work-sans/WorkSans-Regular.woff') format('woff'),
       url('webfonts/work-sans/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka';
  font-weight: 400;
  font-style: normal;
  src: url('webfonts/iosevka/iosevka-regular.woff2') format('woff2'),
       url('webfonts/iosevka/iosevka-regular.woff') format('woff'),
       url('webfonts/iosevka/iosevka-regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Iosevka';
  font-weight: 400;
  font-style: italic;
  src: url('webfonts/iosevka/iosevka-italic.woff2') format('woff2'),
       url('webfonts/iosevka/iosevka-italic.woff') format('woff'),
       url('webfonts/iosevka/iosevka-italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Iosevka';
  font-weight: 700;
  font-style: normal;
  src: url('webfonts/iosevka/iosevka-bold.woff2') format('woff2'),
       url('webfonts/iosevka/iosevka-bold.woff') format('woff'),
       url('webfonts/iosevka/iosevka-bold.ttf') format('truetype');
}
/*@font-face {
  font-family: 'Iosevka';
  font-weight: 700;
  font-style: italic;
  src: url('webfonts/iosevka/iosevka-bolditalic.woff2') format('woff2'),
       url('webfonts/iosevka/iosevka-bolditalic.woff') format('woff'),
       url('webfonts/iosevka/iosevka-bolditalic.ttf') format('truetype');
}*/

@font-face {
  font-family: 'Literata';
  font-style: normal;
  font-weight: 200 900;
  src: url('webfonts/literata/Literata.woff2') format('woff2');
}
@font-face {
  font-family: 'Literata';
  font-style: italic;
  font-weight: 200 900;
  src: url('webfonts/literata/Literata-Italic.woff2') format('woff2');
}
