<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
        <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

        <link rel="shortcut icon" href="{{ "/assets/favicon.png" | relative_url }}">
        <link rel="apple-touch-icon" href="{{ "/assets/favicon.png" | relative_url }}">
        {% feed_meta %}
        {% json_feed_meta %}
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

        <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}?{{ site.time | date: '%y%m%d' }}">
        <link rel="stylesheet" href="{{ "/assets/code.css" | relative_url }}?{{ site.time | date: '%y%m%d' }}">
        <link rel="stylesheet" href="{{ "/assets/webfonts.css" | relative_url }}?{{ site.time | date: '%y%m%d' }}">
        <script src="{{ "/assets/functions.js" | relative_url }}"></script>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css" integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
    </head>
    <body>
        <main>
            <svg class="bgtemp" xmlns="http://www.w3.org/2000/svg" style="stroke: rgba(0,0,0,0.05); stroke-width: 0.5px; fill: none;"></svg>
            <script>
                var X = 25;
                var Y = 25;
                var svg = generateBackgroundImage(X, Y);
                document.body.style.backgroundImage = `url('data:image/svg+xml;base64,${btoa(svg.outerHTML)}')`;
                document.body.style.backgroundSize = X * 16 + "px";
            </script>
            <header>
                <h6><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h6>
            </header>
            {{ content }}
        </main>
    </body>
</html>
