---
layout: default
---
<section>
    {{ content }}

    <div class="archives">
        {% for post in site.posts %}
            {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
                {% unless forloop.first %}
                    </ol>
                {% endunless %}
                <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
                <ol class="archive">
                {% assign date = currentdate %}
            {% endif %}
            <li>
                <time>{{ post.date | date: "%b %-d" }}</time>
                <h2>
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape | markdownify | remove: '<p>' | remove: '</p>' }}</a>
                </h2>
                {{ post.subtitle | escape | markdownify }}
            </li>
            {% if forloop.last %}
                </ol>
            {% endif %}
        {% endfor %}
    </div>
</section>
