---
layout: default
---
<section>
    {{ content }}
    <div class="archives">
        {% for post in site.posts %}
            {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
                {% unless forloop.first %}
                    </ol>
                {% endunless %}
                <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
                <ol class="archive">
                {% assign date = currentdate %}
            {% endif %}
            <li>
                <time>{{ post.date | date: "%b %-d" }}</time>
                <h2>
                    <a href="{{ post.url | relative_url }}">{{ post.title | escape | markdownify | remove: '<p>' | remove: '</p>' }}</a>
                </h2>
                {{ post.subtitle | escape | markdownify }}
            </li>
            {% if forloop.last %}
                </ol>
            {% endif %}
        {% endfor %}
    </div>
    <!--<hr>
    <p>And to reward you for scrolling all the way to the bottom, here's the yellow sea (as seen from the island of Imja-do) on a calm summer day.</p>-->
    {% if page.imjado %}
        <img src="{{ "/assets/imjado.jpg" | relative_url }}" class="imjado">
    {% endif %}
</section>
