---
layout: default
---
<section>
    {{ content }}

    <div class="postlist">
        {% for post in site.posts %}
            {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
                {% unless forloop.first %}
                    </ol>
                {% endunless %}
                <h1 id="y{{post.date | date: "%Y"}}">{{ currentdate }}</h1>
                <ol class="archive">
                {% assign date = currentdate %}
            {% endif %}
            <li><span>{{ post.date | date: "%b %-d" }}</span><h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2></li>
            {% if forloop.last %}
                </ol>
            {% endif %}
        {% endfor %}
    </div>
</article>
