---
layout: default
---
<article>
    <header>
        <h1>{{ page.title | escape }}</h1>
        <aside><time id="postedon" datetime="{{ page.date | date_to_xmlschema }}">Posted <span id="postedago"></span> on {{ page.date | date: "%B %-d, %Y" }}</time></aside>
        <script>
            var date = Date.parse(document.getElementById("postedon").getAttribute("datetime"));
            document.getElementById("postedago").innerHTML = ago(date);
        </script>
    </header>
    {{ content }}
</article>
